body {
	background-color:white;
}

span {
	background-color:yellow;
	text-align:center;
	border:5px;
	margin:0 auto;
}

body {
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	/*background: url(http://www.psdgraphics.com/file/abstract-mosaic-background.png);*/
}

#qdisplay {
	font-weight:bold;
}

#changelog ul li {
	list-style-type:initial;
}
	
#homecontent {
  margin:auto;
  z-index: 1;
  color: rgba(0, 0, 0, 255);
  background-color: rgba(130, 130, 130, .2);
  filter:blur(.5px);
    -o-filter:blur(.7px);
    -ms-filter:blur(.7px);
    -moz-filter:blur(.7px);
    -webkit-filter:blur(.7px);
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width:70%;
}

#homecontent2 {
  margin:auto;
  z-index: 1;
  color: rgba(0, 0, 0, 255);
  background-color: rgba(255, 0, 0, .5);
  filter:blur(.5px);
    -o-filter:blur(.7px);
    -ms-filter:blur(.7px);
    -moz-filter:blur(.7px);
    -webkit-filter:blur(.7px);
  text-align: center;
  box-shadow: 0 2px 5px rgba(250, 0, 0, 0.3);
  width:100%;
}

#solo {
  margin:auto;
  z-index: 1;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width:70%;
    background-color: rgba(130, 130, 130, .2);
  filter:blur(.5px);
    -o-filter:blur(.7px);
    -ms-filter:blur(.7px);
    -moz-filter:blur(.7px);
    -webkit-filter:blur(.7px);
}

#register {
  margin:auto;
  z-index: 1;
  color: rgba(0, 0, 0, 255);
  background-color: rgba(130, 130, 130, .2);
  filter:blur(.5px);
    -o-filter:blur(.7px);
    -ms-filter:blur(.7px);
    -moz-filter:blur(.7px);
    -webkit-filter:blur(.7px);
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-reflect: below -75px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(255,255,255,0.2)));
  width:70%;
}

table {
	font-size:14px;
	clear:both;
}

table form {
	display:inline;
	clear:both;
}


#register input {
	margin: 0 auto;
	width:40%;
}

#login {
  margin:auto;
  z-index: 1;
  color: rgba(0, 0, 0, 255);
  background-color: rgba(130, 130, 130, .2);
  filter:blur(.5px);
    -o-filter:blur(.7px);
    -ms-filter:blur(.7px);
    -moz-filter:blur(.7px);
    -webkit-filter:blur(.7px);
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-reflect: below -45px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
  width:70%;
}


#login input {
	margin: 0 auto;
	width:40%;
}

#total {
	background:darkgray;
}



#progress {
    width: 80%;
    height: 20px;
    background: cyan;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
    text-align:center;
}

#progress:hover {
    width: 90%;
}


#back {
	text-align:right;
	padding: 0 auto;
}

#footer {
   bottom:13%;
   width:100%;
   height:60px;  
   float:clear;
   text-align:right;
}

#content {
	background-color:#598293;
	margin: 0 auto;
	width: 95%;
}

#content h5 {
	color:cyan;
	font-weight:bold;
	text-shadow:0px 1px 0px rgba(0,0,0,0.8);
}

#navigation ul li {
	font-family:verdana;
	list-style-type:none;
	display:inline;
	margin-left:20px;
}
 
.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#3e3436;
}
 
.menu {
    width:100%;
    margin:0px auto;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
}
 
.menu a {
    transition:all linear 0.15s;
    text-decoration:none;
    color:white;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:cyan;
}
 
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
    background-color: transparent !important;
}
 
.menu > ul > li > a {
    padding:1px 45px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}

#usertable tr:nth-child(2n+1) {
	padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgba(0, 160, 0, 0.0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /*background-color: #4CAF50;*/
    height:1px;
}

#usertable table {
	width:30%;
}

#usertable input {
	text-align:center;
	height:20px;
	padding-bottom:0px;
	padding-top:0px;
}

#usertable tr:nth-child(2n+2) {
	background-color: #f2f2f2;
}

#usertable tr:nth-child(2n+3) {
	background-color: #fff;
}

#usertable tr:hover:nth-child(2n+2) {
	background-color: #ddd;
}

#usertable tr:hover:nth-child(2n+3) {
	background-color: #ddd;
}

#admintable input {
	text-align:center;
	padding-top:1px;
}

#admintable tr:nth-child(2n+2) {
	background-color: #f2f2f2;
}

#admintable tr:nth-child(2n+3) {
	background-color: #fff;
}

#admintable tr:hover:nth-child(2n+2) {
	background-color: #ddd;
}

#admintable tr:hover:nth-child(2n+3) {
	background-color: #ddd;
}

table {
	margin:0 auto;
	border:2px;
	text-align:center;
	width:75%;
	height:1%;
}

table td{
	border: 1px solid #ddd;
    text-align: left;
    padding: 9px;
    height:1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgba(0, 160, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /*background-color: #4CAF50;*/
    height:1px;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:140%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background: rgba(46,39,40,0.8);

}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
	background: rgba(62,52,54,0.6);
}