<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ek+Mukta">
<link rel="stylesheet" type="text/css" href="/css/materialize.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

</head>

<h4>7 Habits Game</h4>

<div class="menu-wrap">
    <nav class="menu">
        <ul class="clearfix">
            <li>
            	<a href="/">¥ Home ¥</a>
            <ul class="sub-menu">
            	<li><a href="?a=accountdetails">Account Details</a></li>
            	<li><a href="?a=statistics">Statistics</a></li>
            	<li><a href="?a=email">Mail</a></li>
            	<li><a href="?a=logout">Logout</a></li>
            </ul>
            <li>
                <a href="#">¥ Play ¥</a>
 
                <ul class="sub-menu">
                    <li><a href="?a=solo">Solo</a></li>
                    <li><a href="#">Multiplayer (Planned)</a></li>
                </ul>
            <li>
            	<a href="#">¥ Support ¥</a>
            	<ul class="sub-menu">
            		<li><a href="?a=support">Support Ticket(s)</a></li>
            		<li><a href="?a=rules">Rules</a></li>
            	</ul>
            </li>
            <li>
            	<a href="#">¥ World ¥</a>
            	<ul class="sub-menu">
            		<li><a href="?a=leaderboard">Leaderboard</a></li>
            	</ul>
            </li>
<?php

	$username = $_SESSION['login_user'];
	$sql = "SELECT role FROM 7_habits.accounts WHERE isonline = '1' AND username='$username'";
	$result = $conn->query($sql);
	$row = mysqli_fetch_assoc($result);

if ($row["role"] == 'admin') {
		echo '<li>';
			echo '<a href="#">¥ Admin ¥</a>';
			echo '<ul class="sub-menu">';
			echo '<li><a href="?m=logs">Logs</a></li>';
			echo '<li><a href="?m=tickets">Tickets</a></li>';
			echo '<li><a href="?m=usermanagement">User Management</a></li>';
			echo '<li><a href="?m=questionmanagement">Question Management</a></li>';
		echo '</ul>';		
}
else { 
echo '';
}

?>
        </ul>
    </nav>
</div>
<br>
