<h2>System Stats</h2>
	<p>Hey, you found an easter egg!<p>
	<p>This part of the site shows game statistics that you might have seen on other pages throughout the game.</p>
	<p>This specific page contains every statistic you can pull from the databases and displays it here.</p>
	
<?php	

$sql = "SELECT id FROM 7_habits.accounts";
$result = $conn->query($sql);
$num_rows = mysqli_num_rows($result);

if ($result->num_rows > 0) {
		echo "Total User Accounts: ";
		echo $num_rows;
	}
	
$sql = "SELECT role FROM 7_habits.accounts WHERE role = 'admin'";
$result = $conn->query($sql);
$num_rows = mysqli_num_rows($result);

echo "<br>";
if ($result->num_rows > 0) {
		echo "Total Admins: ";
		echo $num_rows;
	}

echo "<br>";
$sql = "SELECT username, experience FROM 7_habits.accounts WHERE experience = (SELECT MAX(experience) FROM 7_habits.accounts)";
$result = $conn->query($sql);


if ($result->num_rows > 0) {
     echo "<table><tr><th>Username</th><th>Experience</th></tr>";
     // output data of each row
     while($row = $result->fetch_assoc()) {
     	 echo "<br>";
         echo "<tr><td>" . $row["username"]. " " . $row["experience"]. "</td></tr>";
     }
     echo "</table>";
} else {
     echo "0 results";
};

$conn->close();