<div id="changelog">
<h3>5/3/2016 | 0.1.0b</h3>
	<ul>
		<li>Main game system created</li>
		<li>Bugs in solo mode found and a fix is being created</li>
		<li>Ticket system is under construction</li>
	</ul>
<h3>5/5/2016 | 0.2.0 OB</h3>
	<ul>
		<li>Main game system is ready for Open Beta (OB)</li>
		<li>Confirmation notices on experimental / record deleting functions</li>
	<ul>
<p>Portions of the site are not operational yet and that is intentional, some of the url links are placeholders and reminders for myself as stuff that is planned.</p>
</div>

