<h4>Who made this game?</h4>
	<p>This game was created by Francis Booth as a school project for "The 7 Habits of Highly Effective Teens" book. This is also maintained as a pet project to help other students who wish to learn and show off their knowledge of the seven habits in a 21st century style.</p>
	
<h4>Will there be new features?</h4>
	<p>Yes! New features and questions are added regularly, maintenance periods will be the time where new features and questions will be added but users will be alerted of their timings beforehand to minimize inconvenience and roll out updates in a timely manner. Most updates are applied seamlessly and require no unnecessary downtime, if an update causes issue with the game the update will just as easily removed.</p>
	
<h4>Can I help maintain the game?</h4>
	<p>Sadly no, As much as I would appreciate the help, I'm not under the impression that more people will be needed to maintain the game and such I'd prefer it to be just me.</p>
	<p>Lucky players in-game however who have proven to be a big help in creating questions, suggesting improvements that make it into the game, and bug reports will be invited to join the game administration team.</p>
	
<h4>What does the Game Administration do?</h4>
	<p>The Game Administration group is responsible for handling tickets, adding game content, and managing the status quo of the game.<b>Asking to be part of the team will only reduce your chances of being selected.</b> Players who are selected are people we find to be very helpful and overall an important member of the community.</p>
	
<h4>Can I report admin abuse?</h4>
	<p>Absolutely! If you feel you were treated unfairly by a member of the Administration team, Speak up! The admins of the game are here to make sure everyone has a good time. If your claim leads to a demotion you will be awarded for helping our community stay corruption free. Tolerance for such actions are zero and depending on the severity will end ether from a simple demotion to completely being kicked out from the game.</p>
	
<h4>Can I contact you personally?</h4>
	<p>Sure thing, Most of the time I am busy but I make sure to answer all emails sent to me so if you have something you wish to ask, have a question that wasn't answered in this FAQ, even if its unrelated to the game itself, feel free to email me <a href="mailto:influencedchaos@gmail.com">here</a> and I will try to get back to you within 24-48 hours (1-2 days).</p>