<div id='content'>

<h5>Objective</h5>
	<p>The 7 Habits game is all about putting your knowledge of the seven habits to the test. You are randomly stacked against another player and at the end of each round you advance onto the next. In tournament mode your stacked against multiple random players with the person with the lowest score being knocked out.</p>
	
	<br>
	
<h5>How does it start?</h5>
	<p>Each player begins at level 0 where they are introduced to the game and are given practice questions. At the end of each game players gain experience which help them progress up to higher levels which consist of Habit specific questions.</p>
	
	<br>
	
<h5>Can I suggest a question?</h5>
	<p>Yes! This game is ever evolving and improving and because of the random nature of the game the more questions the engine has to pull from means that everyone can have a chance to win!</p>
	
	<p>The same goes for questions that just don't seem right, have the wrong answer, or just don't fit for the level or habit they are assigned to.</p>

	<br>
	
<h5>What are the levels?</h5>
	<p>The levels are ranked in terms of the 7 Habits themselves, with level 7 being the highest. These levels are referred to as your "Habit Level". The second level is determined by your experience points, you earn experience points through answering questions correctly. The more answers you have correct, the higher your experience points will be.</p>
	
<br>
<br>
Current Game Progress:<br>
<div id=total>
<div id=progress>85% Complete</div>
</div>
	
</div>
