    <h4>Login</h4>

<div id="login">
	<form name="login" method="POST" autocomplete="off" action="?a=lgin">
	<br>
		Username:  <input type="text" name="username" value=""><br>
		Password:  <input type="password" name="password" value=""><br>
		<br>
			<input style="width:70px;" type="submit" name="submit" value="Login">
			<br>
			<br>
	</form>
	
</div>