<h3>Game Launch</h3>
	<h4>5/3/2016</h4>
<p>Currently solo player games are almost ready, just working out a few of the bugs.</p>
<p>Creation of a ticket system is second priority and will be available at the same time after solo mode is fixed.</p>