<h4>Registration</h4>

<div id="register">
<br>
	<form name="registration" method="POST" action="?a=reg">
		Username: <input type="text" name="username" value=""><br>
		Password: <input type="password" name="password" value=""><br>
		Confirm Password: <input type="password" name="confpass" value=""><br>
		Email Address: <input type="text" name="email" value="" placeholder="example@gmail.com"><br><br>
		<div data-theme="dark" class="g-recaptcha" data-sitekey="6LdS1B0TAAAAAEkugr_LdtMejdp2Gw3tmnOaxAj8"></div>
<?php 
	foreach ($_POST as $key => $value) {
	echo '<p><strong>' . $key.':</strong> '.$value.'</p>';
  }
?>
			<input style="width:70px;" type="submit" name="submit" value="Register">
	</form>
	<br>
</div>
