<h3>Technology Specifications</h3>

<p>This web application utilizes the following technologies:</p>
	<ul>
		<li>Red Hat Enterprise Linux</li>
		<li>PHP</li>
		<li>HTML5</li>
		<li>MariaDB</li>
		<li>Amazon EC2 Cloud</li>
	</ul>

<p>Everything on the site otherwise has been built in-house with nothing being brought in.</p>
<p>The login and registration is handled utilizing a very strong cypher suite creating an irreversible and completely random value to be stored in the database.</p>

<?php
echo "<br>";
echo "There is currently ";
$sql = "SELECT id FROM 7_habits.accounts";
$result = $conn->query($sql);
$num_rows = mysqli_num_rows($result);

if ($result->num_rows == 1) {
	echo "one registered user";
}
else {
if ($result->num_rows > 1) {
		echo $num_rows;
		echo " registered users";
	}
	else {
		echo "no registered users";
	};
};

echo ", ";
$sql = "SELECT id FROM 7_habits.accounts WHERE deleted = '1'";
$result = $conn->query($sql);
$num_rows = mysqli_num_rows($result);


if ($result->num_rows == 1) {
	echo "one user have been deleted";
}
else {
	if ($result->num_rows > 1) {
		echo $num_rows;
		echo " users have been deleted";
	}
	else {
		echo "no users have been deleted";
	};
};

echo ", and ";
$sql = "SELECT id FROM 7_habits.accounts WHERE banned = '1'";
$result = $conn->query($sql);
$num_rows = mysqli_num_rows($result);

if ($result->num_rows == 1) {
	echo "one user has been banned.";
}
else {
	if ($result->num_rows > 1) {
	echo $num_rows;
	echo " users have been banned.";
	}
	else {
		echo "no users have been banned";
	};
};