<script language="JavaScript" type="text/javascript">
function checkDelete(){
    return confirm('Are you sure?');
}
</script>

<?php

	$username = $_SESSION['login_user'];
	$sql = "SELECT role FROM 7_habits.accounts WHERE isonline = '1' AND username='$username'";
	$result = $conn->query($sql);
	$row = mysqli_fetch_assoc($result);

if ($row["role"] !== 'admin') {
	header("location: /");
}
	$result->free();
?>

<div id="admin">
	<h5>System Logs</h5>
	<br>

<?php
	
	$sql = "SELECT id, username, alerttime, type FROM gamelogs ORDER BY alerttime DESC LIMIT 0,6";
	$result = $conn->query($sql);

if ($result->num_rows > 0) {
     echo "<div id=admintable><table><tr><th>ID</th><th>Username</th><th>Date</th><th>Type</th>";
     // output data of each row
     while($row = $result->fetch_assoc()) {
         echo "<tr><td>" . $row["id"]. "</td><td>" . $row["username"]. "</td><td>" . $row["alerttime"]. "</td><td>" . $row["type"]. "</td>";
         echo "<td><form action='?m=dellog' onclick='return checkDelete()' method='POST'><input type='hidden' name='tempId' value='".$row["id"]."'/><input type='submit' name='submit-btn' value='Delete' /></form></td></tr>";
     }
     echo "</table>";
} else {
     echo "0 results";
};

$result->free();

?>