<script language="JavaScript" type="text/javascript">
function checkDelete(){
    return confirm('Are you sure?');
}
</script>

<?php

	$username = $_SESSION['login_user'];
	$sql = "SELECT role FROM 7_habits.accounts WHERE isonline = '1' AND username='$username'";
	$result = $conn->query($sql);
	$row = mysqli_fetch_assoc($result);

if ($row["role"] !== 'admin') {
	header("location: /");
}
	$result->free();
?>

<div id="admin">
	<h5>Question Management</h5>
	<br>
	

<?php
	
	$username = $_SESSION['login_user'];
	$sql = "SELECT id, question, correctanswer, level FROM 7_habits.questions ORDER BY level";
	$result = $conn->query($sql);

if ($result->num_rows > 0) {
     echo "<div id=admintable><table><tr><th>ID</th><th>Question</th><th>Correct Answer</th><th>Level</th>";
     // output data of each row
     while($row = $result->fetch_assoc()) {
         echo "<tr><td>" . $row["id"]. "</td><td>" . $row["question"]. "</td><td>" . $row["correctanswer"]. "</td><td>" . $row["level"]. "</td>";
         echo "<td><form action='?m=detailform' method='POST'><input type='hidden' name='tempId' value='".$row["id"]."'/><input type='submit' name='submit-btn' value='Edit' /></form>";
         echo "<form action='?m=delquestion' onclick='return checkDelete()' method='POST'><input type='hidden' name='tempId' value='".$row["id"]."'/><input type='submit' name='submit-btn' value='Delete' /></form></td></tr>";
     }
     echo "</table>";
} else {
     echo "0 results";
};

$result->free();

?>