<script language="JavaScript" type="text/javascript">
function checkDelete(){
    return confirm('Are you sure?');
}
</script>

<?php

	$username = $_SESSION['login_user'];
	$sql = "SELECT role FROM 7_habits.accounts WHERE isonline = '1' AND username='$username'";
	$result = $conn->query($sql);
	$row = mysqli_fetch_assoc($result);

if ($row["role"] !== 'admin') {
	header("location: /");
}
	$result->free();
?>

<h5>Ticket Management</h5>
	<br>
<?php
	$username = $_SESSION['login_user'];
	
	$sql = "SELECT * FROM 7_habits.tickets";
	$result = $conn->query($sql);

if ($result->num_rows > 0) {
     echo "<div id=admintable><table><tr><th>ID</th><th>Ticket Name</th><th>Report Time</th><th>Content</th><th>Assignment</th><th>Status</th><th>Comment</th><th>User</th>";
     // output data of each row
     while($row = $result->fetch_assoc()) {
    	 echo "<tr><td>" . $row["id"]. "</td><td>" . $row["ticketname"]. "</td><td>" . $row["ticketcreation"]. "</td><td>" . $row["body"]. "</td><td>" . $row["assignment"]. "</td><td>" . $row["status"]. "</td><td>" . $row["comment"]. "</td><td>" . $row['user']. "</td>";
         echo "<td><form action='detailform.php' method='POST'><input type='hidden' name='tempid' value='".$row["id"]."'/><input type='submit' name='submit-btn' value='Edit' /></form>";
         echo "<form action='?m=ticketclose' onclick='return checkDelete()' method='POST'><input type='hidden' name='tempid' value='".$row["id"]."'/><input type='submit' name='submit-btn' value='Close' /></form>";
         echo "<form action='?m=delticket' onclick='return checkDelete()' method='POST'><input type='hidden' name='tempid' value='".$row["id"]."'/><input type='submit' name='submit-btn' value='Delete' /></form>";
     }
     echo "</table>";
} else {
     echo "There are no open tickets.";
};
echo "<br>";
echo "<br>";

echo "<td><form action='?a=ticketcreation' method='POST'><input type='submit' name='submit-btn' value='Create Ticket' /></td></form>";