<script language="JavaScript" type="text/javascript">
function checkDelete(){
    return confirm('Are you sure?');
}
</script>

<?php

	$username = $_SESSION['login_user'];
	$sql = "SELECT role FROM 7_habits.accounts WHERE isonline = '1' AND username='$username'";
	$result = $conn->query($sql);
	$row = mysqli_fetch_assoc($result);

if ($row["role"] !== 'admin') {
	header("location: /");
}
	$result->free();
?>

<div id="admin">
	<h5>User Management</h5>
	<br>
	

<?php
	
	$username = $_SESSION['login_user'];
	$sql = "SELECT id, username, password, email, role, lastip, lastlogindate, banned, deleted, regdate FROM 7_habits.accounts WHERE deleted < 1 AND banned < 1";
	$result = $conn->query($sql);

if ($result->num_rows > 0) {
     echo "<div id=admintable><table><tr><th>ID</th><th>Username</th><th>Email</th><th>Role</th><th>Last IP</th><th>Last Login</th><th>Registration Date</th>";
     // output data of each row
     while($row = $result->fetch_assoc()) {
    	 echo "<tr><td>" . $row["id"]. "</td><td>" . $row["username"]. "</td><td>" . $row["email"]. "</td><td>" . $row["role"]. "</td><td>" . $row["lastip"]. "</td><td>" . $row["lastlogindate"]. "</td><td>" . $row["regdate"]. "</td>";
         echo "<td><form action='detailform.php' method='POST'><input type='hidden' name='tempid' value='".$row["id"]."'/><input type='submit' name='submit-btn' value='Edit' /></form>";
         echo "<form action='?m=deluser' onclick='return checkDelete()' method='POST'><input type='hidden' name='tempid' value='".$row["id"]."'/><input type='submit' name='submit-btn' value='Delete' /></form>";
         echo "<form action='?m=banuser' onclick='return checkDelete()' method='POST'><input type='hidden' name='tempid' value='".$row["id"]."'/><input type='submit' name='submit-btn' value='Ban' /></form></td></tr></div>";
     }
     echo "</table>";
} else {
     echo "0 results";
};


$result->free();

?>
</div>