<script language="JavaScript" type="text/javascript">
function checkDelete(){
    return confirm('Are you sure? This action can only be reversed by an administrator.');
}
</script>


<h4>Account Details</h4>

<?php
$username = $_SESSION['login_user'];
$sql = "SELECT email FROM 7_habits.accounts WHERE username = '$username'";
$result = $conn->query($sql);

if ($result->num_rows > 0) {
     echo "<div id=usertable><table><tr><th>Email</th>";
     // output data of each row
     while($row = $result->fetch_assoc()) {
     
    	 echo "<tr><td><input id='email' value='" . $row['email']. "'></td></table></div>";        
     }
     	 echo'<br>';     	 
    	 echo'<div id=usertable><table><tr><th>Current Password</th>';
		 echo"<tr><td><input id='password' type='password' value=''></td></table></div>";
		 	echo "<p>Your password only needs to be filled in if you change anything on this page or wish to delete your user account</p>";
} else {
     echo "0 results";
};


$sql = "SELECT * FROM tickets WHERE user = '$username' AND status = 'Open'";
$result = $conn->query($sql);
$num_rows = mysqli_num_rows($result);


if ($result->num_rows == 1) {
	echo "You have one support ticket open.";
}
else {
	if ($result->num_rows > 1) {
	echo "You have ";
	echo $num_rows;
	echo " support tickets open.";
	}
	else {
		echo "You have no open support tickets";
	};
};
echo "<br>";
echo "<br>";

$sql = "SELECT id FROM 7_habits.accounts WHERE username = '$username'";
$result = $conn->query($sql);

while($row = $result->fetch_assoc()) {

echo "<form action='?a=updateacc.htm' method='POST'><input type='hidden' name='tempId' value='".$row["id"]."'/><input type='submit' name='update-btn' value='Update' /></form>"; 

echo "<form onclick='return checkDelete()' action='?a=userselfdelete' method='POST'><input type='hidden' name='tempId' value='".$row["id"]."'/><input type='submit' name='submit-btn' value='Delete Account' /></form>";
};