<?php

$tempId = $_POST['tempid'];
$userid = $_SESSION['userid'];
$username = $_SESSION['login_user'];
$qasked = $_SESSION['question'];
$formid = $_SESSION['formidcheck'];

$sql = "SELECT * FROM questions WHERE correctanswer = '$tempId' AND Question = '$qasked'";
$result = $conn->query($sql);

if (isset($_SESSION["formid"])) {
   
    if ($_SESSION["formid"] == $formid) {
        $_SESSION["formid"] = '';


if ($result->num_rows > 0) {
	echo "<h4>Correct!</h4>";
	echo "You can stop now or take another question if you want.";
	echo "<td><form action='?a=solo' method='POST'><input type='submit' name='submit-btn' value='Next Question' /></td></form>";
	echo "<td><form action='?a=home' method='POST'><input type='submit' name='submit-btn' value='Stop' /></td></form>";
	$sql1 = "UPDATE accounts SET experience = experience + 30 , correctansw = correctansw + 1  WHERE id = $userid";
	$result1 = $conn->query($sql1);
	$_SESSION['question'] = "";
}
else {
	echo "<h4>Incorrect :(</h4>";
	echo "Sorry that was not the right answer, but don't be discouraged. Try again?";
	echo "<td><form action='?a=solo' method='POST'><input type='submit' name='submit-btn' value='Try Again' /></form>";
	$sql1 = "UPDATE accounts SET experience = experience + 10 , incorrectansw = incorrectansw + 1 WHERE id = $userid";
	$result1 = $conn->query($sql1);
	$_SESSION['question'] = "";
};
    }
    else
        header("location: ?a=solo");
};