<div id="admin">
	<h5>Game Emails</h5>
	<br>

<?php
	$username = $_SESSION['login_user'];
	$sql1 = "SELECT id FROM 7_habits.accounts WHERE isonline = '1' AND username='$username'";
	$result1 = $conn->query($sql1);
	$row1 = mysqli_fetch_assoc($result1);
	$id = $row1["id"];
	
	$sql = "SELECT * FROM 7_habits.emails WHERE recieverid = '$id'";
	$result = $conn->query($sql);

if ($result->num_rows > 0) {
     echo "<div id=admintable><table><tr><th>Subject</th><th>From</th><th>Recieved Time</th>";
     // output data of each row
     while($row = $result->fetch_assoc()) {
    	echo "<tr><td>" . $row["subject"]. "</td><td>" . $row["senderid"]. "</td><td>" . $row["timesent"]. "</td><td>";
        echo "<form action='?a=viewmail' method='POST'><input type='hidden' name='tempid' value='".$row["id"]."'/><input type='submit' name='submit-btn' value='View' /></form>";
        echo "<form action='?m=banuser' onclick='return checkDelete()' method='POST'><input type='hidden' name='tempid' value='".$row["id"]."'/><input type='submit' name='submit-btn' value='Reply' /></form>";
        echo "<form action='?m=deluser' onclick='return checkDelete()' method='POST'><input type='hidden' name='tempid' value='".$row["id"]."'/><input type='submit' name='submit-btn' value='Delete' /></form></td></div>";
     }
     echo "</table>";
} else {
     echo "No have no messages.";
};
echo "<br>";
echo "<form action='?m=banuser' onclick='return checkDelete()' method='POST'><input type='hidden' name='tempid' value='".$row["id"]."'/><input type='submit' name='submit-btn' value='Compose Message' /></form>";
echo "<br>";
echo "<br>";