<?php

	$sql = "SELECT count(id) FROM accounts WHERE isonline = '1' AND role = 'user'";
	$result = $conn->query($sql);
	$row = mysqli_fetch_assoc($result);

echo "<div id='homecontent2'>";
	echo "NEWS: I am currently putting the development on hold, I will add new things and fix things over time but development will be slowed down for now.";
echo "</div>";

echo "<br>";

echo "<div id='homecontent'>";

		if ($row['count(id)'] > 1) {
			echo "There are ";
			echo $row['count(id)'];
			echo " users online.";
		}
		elseif ($row['count(id)'] > 0) {
			echo "There is 1 user online.";
		}
		else {
			echo "Nobody is online :(";
		};
echo "</div>";
echo "<br>";
echo "<br>";
echo "<br>";


		echo "You are currently logged in as ";
		echo $_SESSION['login_user'];
		echo "<br>";

echo "<br>";
echo "<br>";

	
?>

