<h5>Leaderboard</h5>

<?php

$sql3 = "SELECT @CurRank := @CurRank + 1 AS rank , username, experience, level, correctansw, incorrectansw, regdate, deleted  FROM 7_habits.accounts, (SELECT @curRank := 0) r WHERE deleted < 1 AND experience > 0 AND role != 'admin' ORDER BY experience DESC";
$result3 = $conn->query($sql3);
$num = 0;
echo "<br>";

if ($result3->num_rows > 0) {
     echo "<div id=admintable><table><tr><th>World Rank</th><th>Username</th><th>Experience</th><th>Level</th><th>Correct Answers</th><th>Incorrect Answers</th><th>Registration Date</th></tr>";
     // output data of each row
     while($row = $result3->fetch_assoc()) {
         echo "<tr><td>" . $row["rank"]. "</td><td> " . $row["username"]. "</td><td>" . $row["experience"]. "</td><td>" . $row["level"]. "</td><td>" . $row["correctansw"]. "</td><td>" . $row["incorrectansw"] . "</td><td>" . $row["regdate"] . "</td></tr>";
     }
     echo "</table>";
} else {
     echo "0 results";
};

?>
