<h1>Game Rules</h1>

<ol>
	<li>No Cheating</li>
		<p>Cheating is defined as knowingly using or creating scripts designed to help quickly and accurately answer questions presented to the client. Anybody found to be creating, distributing, or using these scripts will be banned from the game, No exceptions.</p>
	<li>No Hacking</li>
		<p>Intentionally trying to bypass or break into accounts or the game system itself will not be tolerated. Unless express permission has been given to allow such actions, users observed to be trying to access restricted zones of the site will be given a 24 hour ban. Should the activity persists the offending user will be permanently banned.</p>
	<li>No Bullying</li>
		<p>The messaging system should not be used to conduct any harassment or bullying of any users or game administration staff. Users found in violation of this rule will receive a warning which also includes the disablement of the use of the messaging system and depending on severity, reported to the proper authorities.</p>
	<li>No Impersonating</li>
		<p>Any user pretending to be part of the game administration, or someone of authority, will be banned. Game staff will never ask you for your password and all members of the game administration team have a 7 icon by their name.</p>
</ol>