<div id=solo>

<h4>Solo Mode</h4>
<?php

	$_SESSION["formid"] = md5(rand(0,10000000));
	$_SESSION["formidcheck"] = $_SESSION["formid"];

	$username = $_SESSION['login_user'];
	$sql = "SELECT level FROM accounts WHERE username = '$username'";
	$result = $conn->query($sql);

	$row = mysqli_fetch_assoc($result);

/*if ($row["level"] !== '0') {
	echo "User does not need tutorial.";
}
else {
	echo "Tutorial will be presented";
};
*/

	echo "<br>";
	echo "<br>";
	$sql1 = "SELECT Question, correctanswer FROM questions ORDER BY RAND() LIMIT 0,1";
	
	$result1 = $conn->query($sql1);
	
	$row5 = $result1->fetch_assoc();
		$currentanswer = $row5['correctanswer'];
		$currentquestion = $row5['Question'];


	$sql2 = "SELECT correctanswer FROM questions WHERE correctanswer != '$currentanswer' ORDER BY RAND() LIMIT 0,3";
	$result2 = $conn->query($sql2);


	$_SESSION['question'] = $currentquestion;

	echo "<div id='qdisplay'>";
	echo $currentquestion;
	echo "</div>";
	echo "<br>";
	echo "<br>";

	// Create empty array for the fetched rows
//$Rows = array();
 
// Fetch all rows and store them in the new array:
//while ($Row = mysql_fetch_assoc($Result2))
//    $Rows[] = $Row;
 
//// Randomize all result rows
//shuffle($Rows);
	echo "<div id='qquestions'>";
	echo "<div>";
	echo $row5['correctanswer'];
	echo "<td><form action='?a=ansub' method='POST'><input type='hidden' name='tempid' value='".$row5["correctanswer"]."'/><input type='submit' name='submit-btn' value='Select' /></form>";
	echo "</div>";

	
	while($row2 = $result2->fetch_assoc()) {
	echo "<div>";
	echo $row2["correctanswer"];
	echo "<td><form action='?a=ansub' method='POST'><input type='hidden' name='tempid' value='".$row2["correctanswer"]."'/><input type='submit' name='submit-btn' value='Select' /></form>";
	echo "</div>";
};

echo "</div>";
echo "</div>";
echo "</div>";
echo "</div>";
echo "</div>";
?>
<script async src="/js/script.js"></script>