<h4>Player Stats</h4>

<?php
$username = $_SESSION['login_user'];
$sql = "SELECT username, experience, level, role, email, rank, correctansw, incorrectansw, regdate  FROM 7_habits.accounts WHERE username = '$username'";
$result = $conn->query($sql);


if ($result->num_rows > 0) {
     echo "<div id=admintable><table><tr><th>Username:</th><th>Experience</th><th>Level</th><th>Role</th><th>Email</th><th>World Rank</th><th>Correct Answers</th><th>Incorrect Answers</th><th>Registration Date</th></tr>";
     // output data of each row
     while($row = $result->fetch_assoc()) {
     	 echo "<br>";
         echo "<tr><td>" . $row["username"]. "</td><td>" . $row["experience"]. "</td><td>" . $row["level"]. "</td><td>" . $row["role"]. "</td><td>" . $row["email"]. "</td><td>" . $row["rank"]. "</td><td>" . $row["correctansw"]. "</td><td>" . $row["incorrectansw"]. "</td><td>" . $row["regdate"]. "</td></tr>";
     }
     echo "</table>";
} else {
     echo "0 results";
};
