<div class="menu-wrap">
    <nav class="menu">
        <ul class="clearfix">
            <li><a href="/?a=home">¥ Home ¥</a>
            <ul class="sub-menu">
            	<li><a href="/?a=login">∆ Login</a></li>
            	<li><a href="/?a=register">∆ Register</a></li>
            </ul>
            <li>
                <a href="/?a=faq">¥ FAQ ¥</a>
 
                <ul class="sub-menu">
                    <li><a href="?a=techspecs">Tech Specs</a></li>
                </ul>
            <li>
            	<a href="/?a=news">¥ News ¥</a>
        		<ul class="sub-menu">
        			<li><a href="?a=changelog">Changelog</a></li>
        		</ul>
        </ul>
    </nav>
</div>
